

.layer-popup.resize-layer .side-layer-resize svg {
  transform: rotate(180deg);
}

.layer-popup {
  width: 320px;
  position: absolute; /* Change to absolute */
  bottom: 33px;
  right: 0; /* Position on the right side */
  z-index: 10;
  background: #fff;
  transition: all .8s ease-in-out;
  /**/
  height: 450px;
}

.layer-popup.active {
  right: 0;
}

.layer-popup.resize-layer {
  height: 45px;
}

.layer-popup.resize-layer .side-layer-resize img {
  transform: rotate(180deg);
}

.layer-title{
  background-color: #3F4D67;
  height: 38px;
}

.accordion-button{
  height: 40px;
}

.layer-content {
  width: 100%;
  height: calc(100% - 45px);
  overflow-y: auto;
  padding: 10px;
  position: absolute;
  border-bottom: 1px solid #f3f3f3;
  border-left: 1px solid #f3f3f3;
  bottom: 1px;
}


@media only screen and (min-width: 320px) and (max-width: 620px) {
  .layer-popup {
    bottom: 0;
    position: absolute; /* Change to absolute */
    right: 0; /* Position on the right side */
    height: calc(100vh - 150px);
    z-index: 12;
  }
}