
<div id="map" (click)="findCoords($event)"></div>
<div class="card" style="z-index: 100; position: fixed; bottom: 0; right: 0; width: 400px; height: auto; ">
  <div class="card-header" style="background-color:rgb(54, 83, 112);">
   <h2 style="color: white;">Directions</h2> 
  </div>
  <div class="card-body">



      <label>source location</label>
       <div class="form-group d-flex "  >
              <input  [value]="inputValueSource" type="text" class="form-control" style="width: 70%;" >
              <button type="button" class="btn btn-rounded btn-dark circular-btn feather icon-target" (click)=" getCurrentLocation('start')"  ></button>
              <button type="button" class="btn-dark circular-btn feather icon-map-pin"
                      [ngClass]="{'btn-dark': !isSourcePickActive, 'btn-success': isSourcePickActive, 'circular-btn': true}" 
                      (click)="pickLocation('start',$event)" >
                
              </button>
        
      
      </div>
      <label>destination location</label>
      <div class="form-group d-flex">
        <input  [value]="inputValueDestination" type="text" class="form-control"  style="width: 70%;">
        <button type="button" class="btn btn-rounded btn-dark circular-btn feather icon-target" (click)=" getCurrentLocation('end')"></button>
        <button type="button" class=" btn-dark circular-btn feather icon-map-pin"
                [ngClass]="{'btn-dark': !isDestinationPickActive, 'btn-success': isDestinationPickActive, 'circular-btn': true}" 
                (click)="pickLocation('end',$event)">
         
        </button>
      </div>


   

      <button  class="btn btn-dark" (click)=findRoute() >search</button>
      <button class="btn btn-dark" (click)=clear() >clear</button>

    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
