<!-- <div appCesium></div> -->

<div id="map"></div>
<div class="SubCursorBar">
  <div class="content">
    <div class="DisabledContent" is-disabled="false">
      <div class="CursorBarControl" is-disabled="false" is-selected="true" title="Pan">
        <!-- <div class="icon">
          <svg class="" width="42" height="42" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.5652 6C14.9172 6 14.3913 6.51692 14.3913 7.15385V14.4615H13.6087V8.69231C13.6087 8.05538 13.0828 7.53846 12.4348 7.53846C11.7868 7.53846 11.2609 8.05538 11.2609 8.69231V14.4615V16.7692V19.6734C11.2609 19.6734 9.0069 18.2402 7.87211 17.7548C7.55594 17.6194 7.22575 17.5385 6.89079 17.5385C5.1401 17.5385 5 19.0769 5 19.0769L8.13043 21.3846L10.6357 24.3398C11.5279 25.3922 12.85 26 14.243 26H19.8696C21.5983 26 23 24.6223 23 22.9231V14.4615V11C23 10.3631 22.4741 9.84615 21.8261 9.84615C21.1781 9.84615 20.6522 10.3631 20.6522 11V14.4615H19.8696V8.69231C19.8696 8.05538 19.3437 7.53846 18.6957 7.53846C18.0477 7.53846 17.5217 8.05538 17.5217 8.69231V14.4615H16.7391V7.15385C16.7391 6.51692 16.2132 6 15.5652 6Z" fill="white"></path>
          </svg>
        </div> -->
        <mat-button-toggle-group name="ingredients" aria-label="Ingredients">
          <mat-button-toggle  title="Pan"><i class="fas fa-map-marker-alt fa-2x"></i></mat-button-toggle>
          <mat-button-toggle (click)="measurementFtn($event)"  title="LineString"><mat-icon>timeline</mat-icon></mat-button-toggle>
          <mat-button-toggle (click)="measurementFtn($event)" title="Polygon" ><i class="fas fa-draw-polygon fa-2x"></i></mat-button-toggle>
            <mat-button-toggle title="info"><mat-icon>info</mat-icon></mat-button-toggle>
            <!-- <mat-button-toggle title="Download Image" ><i class="fas fa-camera fa-2x"></i></mat-button-toggle> -->
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>

<button type="button" (click)="togglePanel()">Layer</button>
<div class="row" [@widthGrow]="state">
  <div class="col-sm-12">

    <div class="layer-popup resize-popup" id="layers">
      <div class="layers" id="layersheader">
        <div class="layer-title-main w-100 align-items-center">
          <h3 class="layer-title me-auto">
            <label id="total_layer_cnt" style="color: aliceblue;" data-translate="_layer_popup">Layer</label>
          </h3> 

          <a class="layer-close side-layer-resize ms-2 me-2" href="javascript:void(0);">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
              id="Layer_1" x="0px" y="0px" width="16" height="16" viewBox="0 0 50 50" enable-background="new 0 0 50 50"
              xml:space="preserve">
              <g>
                <g>

                  <polyline fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#FFFFFF" stroke-width="3.5"
                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="22.9256"
                    points="    47.5,1.832 22.191,27.15 22.191,16.419   " />

                  <line fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#FFFFFF" stroke-width="3.5"
                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="22.9256" x1="22.191" y1="27.15"
                    x2="32.919" y2="27.15" />
                </g>

                <polyline fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#FFFFFF" stroke-width="3.5"
                  stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="22.9256"
                  points="   44.878,18.451 44.878,48.168 2.5,48.168 2.5,5.802 31.722,5.802  " />
              </g>
            </svg>
          </a>

        </div>
        <div class="layer-content" id="layer_master">
          <div class="accordion" id="accordionExample">
            <div *ngFor="let parentLayer of data.data">
              <div class='accordion-item'>
                <h2 class='accordion-header'>
                  <button class='accordion-button collapsed' type='button'
                    (click)="toggleCollapse(parentLayer.parent_layer_id)">
                    {{ parentLayer.parent_layer_name }}
                  </button>
                </h2>
                <div [id]="'panelsStayOpen-collapse' + parentLayer.parent_layer_id" class='accordion-collapse collapse'>
                  <div class='accordion-body'>
                    <div *ngFor="let childLayer of parentLayer.child_layer">
                      <div class="form-check">
                        <input class="form-check-input" name="child_layer_name" (change)="showHideData($event)"
                        [attr.layer_id]="childLayer.layer_id"
                          [attr.mobile_service_url]="childLayer.mobile_service_url"
                          [attr.parent_layer]="childLayer.parent_layer" [attr.defination]="childLayer.defination"
                          [attr.layer_name]="childLayer.layer_name"
                          [attr.combined_service]="childLayer.is_combined_service"
                          [attr.service-url]="childLayer.service_url" [attr._id]="childLayer.geometry_type"
                          data-id="Image" type="checkbox" [attr.value]="childLayer.layer_id"
                          [attr.Id]="'flexCheckDefault' + childLayer.layer_id"
                          [attr.layer_name]="childLayer.layer_name">
                        <label class="form-check-label">{{ childLayer.layer_name }}</label>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


