
.mdc-tab__text-label{
    color: black !important;
}
.mat-mdc-tab-group{
    --mdc-tab-indicator-active-indicator-color: #48c1f1;
}
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
    --mdc-tab-indicator-active-indicator-color:  #48c1f1;
    --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.5);
    --mat-tab-header-pagination-icon-color: #fff;
    --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-active-label-text-color:  #48c1f1;
    --mat-tab-header-active-ripple-color: #48c1f1;
    --mat-tab-header-inactive-ripple-color: #48c1f1;
    --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-active-focus-label-text-color: #48c1f1;
    --mat-tab-header-active-hover-label-text-color:  #48c1f1;
    --mat-tab-header-active-focus-indicator-color: #48c1f1;
    --mat-tab-header-active-hover-indicator-color: #48c1f1;
}
.carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  }
  .carousel-item-wrapper {
    max-height: 250px;
    overflow-y: auto; /* Add vertical scrollbar if content exceeds max height */
  }
/* Remove the default "No file chosen" text */
input[type="file"]::-webkit-file-upload-text {
    // visibility: hidden;
    color: transparent;
    width: 0;
}
#imageInput { 
    color: transparent; 
} 
#docInput { 
    color: transparent; 
} 

/* styles.css or styles.scss */
.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  background-color: #007bff; /* Replace with your desired color */
  filter: none; /* Remove default filter to show the background color */
}

.custom-carousel .carousel-control-prev-icon {
  border-radius: 50%; /* Optional: Make the icon circular */
}

.custom-carousel .carousel-control-next-icon {
  border-radius: 50%; /* Optional: Make the icon circular */
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}




.date-input-container {
    display: flex;
    flex-direction: column;
  }
  
  .date-input-container label {
    margin-bottom: 5px;
    color: #000;
  }
  
  .date-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .date-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the icon */
    box-sizing: border-box;
    border: 1px solid rgb(160, 165, 165);
    border-radius: 5px;
    background-color: #eaedee;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  
  .date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .date-icon {
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
  }
  