mat-card{
    margin: 2%;
}

button{
    margin: 2px;
}

th{
    background-color: black !important;
    color: white;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  .k-cell-inner > .k-link {
    justify-content: flex-end;
}