<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
      <form [formGroup]="loginForm" #loginuser (ngSubmit)="verifyCaptcha()">
        
        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
        <h3 class="mb-4">Login</h3>
        <div class="input-group mb-3">
          <input type="email" name="userName" formControlName="user_name" class="form-control" placeholder="Email" />
          <!-- <div class="alert alert-danger" *ngIf = "(userName.touched) && (userName.invalid)" style="margin-top: 5px;"> 
            <span *ngIf="userName.errors.required">Email is Required</span>
          </div> -->
        </div>
        
        <div class="input-group mb-4">
          <input type="password" maxlength="20" formControlName="password" name="password" class="form-control" placeholder="Password" />
          <!-- <div class="alert alert-danger" *ngIf = "(password.touched) && (password.invalid)" style="margin-top: 5px;">
            <span *ngIf="password.errors.required">Password is Required</span>  
          </div> -->
        </div>
        <div class="input-group mb-4">
          <input type="text" maxlength="20" formControlName="captcha" class="form-control" placeholder="Captcha" />
          <!-- <div class="alert alert-danger" *ngIf = "(password.touched) && (password.invalid)" style="margin-top: 5px;">
            <span *ngIf="password.errors.required">Password is Required</span>  
          </div> -->
          <img id="captcha_img" class="ms-2" name="captcha_image" alt="captcha" />
            <img src = "../../../../../assets/images/captcha_icon.svg" class="ms-2" (click)="refreshCaptcha()" id="refresh_captcha" name="captcha_image" alt="captcha" />
        </div>

        <div class="form-group text-start mb-4">
          <div class="checkbox checkbox-fill d-inline">
            <input
              type="checkbox"
              name="checkbox-fill-1"
              id="checkbox-fill-a1"
              checked=""
            />
            <label for="checkbox-fill-a1" class="cr"> Save Details</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Login</button>
        <p class="mb-2 text-muted">
          Forgot password? <a [routerLink]="['/auth/reset-password']">Reset</a>
        </p>
        <p class="mb-0 text-muted">
          Don’t have an account? <a [routerLink]="['/auth/signup']">Sign up</a>
        </p>

      </form>
      </div>
    </div>
  </div>
</div>
