<p>role-management works!</p>
<mat-card>
  <mat-card-header>
    <mat-form-field>
      <input matInput (keyup)="filterChange($event)" placeholder="Enter the text" />
    </mat-form-field>
    <button  mat-button  style="margin-left: 60%;" (click)="openEditForm('','add')" mat-raised-button color="primary">Add new role (+)</button>
  </mat-card-header>
  <mat-card-content>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="role_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Id</th>
        <td mat-cell *matCellDef="let element">{{ element.role_id }}</td>
      </ng-container>

      <ng-container matColumnDef="role_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</th>
        <td mat-cell *matCellDef="let element">{{ element.role_name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="assign_permission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned Modules</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let permission of element.assign_permission; let last = last">
            {{ permission.module_name }}
            <span *ngIf="!last">, </span><!-- Add comma if it's not the last item -->
          </ng-container>
        </td>
      </ng-container>
      

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
            <div class="example-button-row">
        <button   (click)="openEditForm(element,'edit')"  mat-raised-button color="primary">Edit</button>
          <button   (click)="delete(element.id)" mat-raised-button color="primary">Delete</button>
            </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
  <br>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>
