mat-card{
    margin: 2%;
}

button{
    margin: 2px;
}

th{
    background-color: black !important;
    color: white;
}
.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  .k-cell-inner > .k-link {
    justify-content: flex-end;
}









// .card{
//     background-color: var(--white);
//     border: 1px solid var(--Chinese_Silver);
//     padding: 8px;
//     flex-direction: row;
//     border-radius: 0;
//     flex-wrap: wrap;
//     .sample-files{
//         font-size: 14px;
//     }
// }
// .custom-dropdown{
//     width: 200px;
// }
// .grid-container{
//     background-color: var(--white);
//     border: 1px solid var(--Chinese_Silver);
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     .icon-style {
//         color: var(--Dark_Charcoal);
//         font-size: 13px;
//       }
//       .select-dropdown-option{
//           min-width: 110px;
//           width: 110px;
//       }
// }

// .dashboard-tiles{
//     .content-box{
//         width: calc(100% / 5);
//         flex: 1;
//     }
//     .card-tiles {
//         background-color: var(--white);
//         border: 1px solid var(--Chinese_Silver);
//     }
// }

// .tiles-value {
//     font-size: 16px;
//     font-weight: bold;
//     color: var(--Dark_Charcoal);

//   }
//   .tiles-text {
//       font-size: 13px;
//       color: var(--Old-Silver);

//     }

// @media screen and (max-width: 1024px) {


//     .dashboard-tiles{
//         flex-wrap: wrap;
//         .content-box{
//             width: calc(100% / 3 - 10px);

//         }
//     }
//     .custom-lable {
//         min-width: 180px !important;
//     }
// }

// @media screen and (max-width: 767px) {
//     .dashboard-tiles{
//         flex-wrap: wrap;
//         .content-box{
//             width: 100%;
//         }
//     }
// }

// .info-dialog-box{
//     .into-title{
//         color: #FF6666;
//         font-weight: bold;
//         font-size: 14px;
//     }
//     .download-btn{
//         color: #FF6666;
//     }
//     .info-name{
//         font-size: 13px;
//         background-color: #EEF1F2;
//         width: 180px;
//     }
//     .info-value{
//         font-size: 13px;
//         width: 180px;
//     }
// }

// .custom-lable {
//     min-width: 230px;
// }

// .popup-innertitle{
//     color: var(--Pastel-Red);
// }
// .upload-content{
//     max-width: 250px;
//     border: 1px solid var(--Chinese_Silver);
//     border-radius: 5px;
//     font-size: 14px;
//     flex-grow: 1;
// }
// .meter-val{
//     font-size: 14px;
//     font-weight: bold;
//     .meter-name {
//         color: #FF6666;
//     }

// }

// .treeView {
//   width: 210px;
// }

// .minWidth-tree{
//   width: 200px;
// }

// ::ng-deep .k-input-sm .k-input-values{
//   width: auto !important;
// }
