/* You can add global styles to this file, and also import other style files */

@import "scss/variables";

/* fonts-icon */
@import "scss/fonts/fontawesome/scss/fontawesome";
@import "scss/fonts/feather/iconfont";

@import "scss/general";
@import "scss/generic";
@import "scss/mixins/function";

/* important element */
@import "scss/menu/menu-lite";

/* basic elements */
@import "scss/theme-elements/theme-elements";

/* third party modules style*/
@import "scss/plugins/plugins";

@import "scss/custom";
/* styles.css or styles.scss */
@import '~bootstrap/dist/css/bootstrap.min.css';


@import 'ngx-toastr/toastr';
@import 'ol/ol.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ol-attribution{
    display: none !important;
}

.ol-rotate-reset{
    display: none !important;
}

.ol-zoom-in{
    display: none !important;
}

.ol-zoom-out{
    display: none !important;
}


